<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="./js/vue.min.js"></script>
    <script src="./js/lodash.min.js"></script>
    <script src="./js/md5.min.js"></script>
    <script src="./js/jquery-3.2.1.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/vue-qrcode.min.js"></script>
    <script>
        Vue.component(VueQrcode.name, VueQrcode);
    </script>
    <link rel="stylesheet" type="text/css" href="./css/reset.css">
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
</head>
<style type="text/css">
    .top {
        position: fixed;
        width: 100%;
        height: 80px;
        line-height: 80px;
        left: 0px;
        top: 0px;
        background: #0070C8;
    }
    
    .top p {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        margin-left: 40px;
        color: #FFFFFF;
    }
    
    .top p img {
        vertical-align: middle;
        margin-top: -3px;
        margin-right: 10px;
    }
    
    .first {
        position: relative;
        border-top: 1px solid #BDDBFF;
        border-left: 15px solid #BDDBFF;
        border-right: 1px solid #BDDBFF;
        border-bottom: 1px solid #BDDBFF;
        padding: 0px 20px 20px 40px;
        background: #FFFFFF;
        box-sizing: border-box;
    }
    
    .leftright {
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .first .hang {
        height: 60;
    }
    
    .first .hang input {
        width: 95%;
        padding-left: 10px;
        height: 60px;
        border: 0;
    }
    
    .first .hang .col-xs-1 .line {
        display: inline-block;
        height: 30px;
    }
    
    .third {
        margin-top: 30px;
        text-align: center;
    }
    
    .third .right {
        display: inline-block;
        width: 232px;
        height: 64px;
        line-height: 64px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        color: #FFFFFF;
        border: 1px solid #0070C8;
        box-sizing: border-box;
        border-radius: 5px;
        background: #0070C8;
        margin-left: 10px;
    }
    
    .toast {
        position: fixed;
        z-index: 2000;
        left: 50%;
        top: 25%;
        transition: all .5s;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        text-align: center;
        border-radius: 5px;
        color: #FFF;
        background: rgba(17, 17, 17, 0.7);
        height: 45px;
        line-height: 45px;
        padding: 0 15px;
        width: 100%;
    }
    
    .bg {
        position: fixed;
        top: 0;
        left: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        background: url(./images/mpc_bg.jpg) no-repeat;
        background-size: 100% 100%;
        z-index: -1;
    }
    
    body {
        height: 100%;
    }
    
    .parent {
        /* position: relative; */
        width: 100%;
        height: 100%;
    }
    
    .parent .item1 {
        position: absolute;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    [v-cloak] {
        display: none;
    }
    
    .third .clicked {
        background-color: #eeeeee;
        color: #333;
        border: 1px solid #eeeeee;
    }
</style>

<body>
    <div id="app" v-cloak>
        <div class="toast" v-show="toastShow">
            {{toastText}}
        </div>
        <div v-if="!isQrcode">
            <div class="bg"></div>
            <div class="top" @click="back">
                <p> <img src="./images/back.png" />{{curLangule["title"]}}</p>
            </div>
            <div style="margin-top:90px"></div>
            <div class="container">
                <div style=" padding: 10px 20px 10px 15px;">
                    <div class="row">
                        <div class="col-xs-12 leftright" style="text-align:left">{{curLangule["key4"]}}：{{balance["num"]}} ELA</div>
                    </div>
                </div>
                <div class="first">
                    <div class="row hang">
                        <div class="col-xs-1 leftright" style="line-height: 60px">
                            {{curLangule["key5"]}}
                        </div>
                        <div class="col-xs-11 leftright" style="border-bottom: 1px solid #DDDDDD;">
                            <img src="./images/line.png" /><input :placeholder="curLangule['key']" v-model="elaAdress" />
                        </div>
                    </div>

                    <div class="row hang">
                        <div class="col-xs-1 leftright" style="line-height: 60px">
                            {{curLangule["key6"]}}
                        </div>
                        <div class="col-xs-11 leftright" style="border-bottom: 1px solid #DDDDDD;">
                            <img src="./images/line.png" /><input :placeholder="curLangule['key1']" v-model="amount" />
                        </div>
                    </div>

                    <div class="row hang">
                        <div class="col-xs-1 leftright" style="line-height: 60px">
                            {{curLangule["key7"]}}
                        </div>
                        <div class="col-xs-11 leftright">
                            <img src="./images/line.png" /><input :placeholder="curLangule['key2']" v-model="memo" />
                        </div>
                    </div>
                </div>
                <div style=" padding: 10px 20px 20px 40px;">
                    <div class="row">
                        <div class="col-xs-12 leftright" style="text-align: right" v-if="fee['num']">{{curLangule["key3"]}}{{fee['num']}} ELA</div>
                    </div>
                </div>
                <div class="third">
                    <span class="right" @click="send" :class="{clicked:isShow}">{{curLangule["key8"]}}</span>
                </div>
            </div>
        </div>

        <div class="parent">
            <div class="item1">
                <div style="text-align: center;background-color: #ffffff;padding:20px 20px 20px 20px;">
                    <div id="myCarousel" class="carousel" data-ride="carousel" data-interval="400">
                        <!-- 轮播（Carousel）项目 -->
                        <div class="carousel-inner">
                            <div class="item" v-for="(item, key,index) in  qrArr" :class="{
                                            'active':item.index=== 0
                                          }">
                                <qrcode :value="item.data" :options="{ width: 600 }" style="display:block" v-if="qrArr.length==1"></qrcode>
                                <qrcode :value="JSON.stringify(item)" :options="{ width: 600 }" style="display:block" v-if="qrArr.length>1"></qrcode>
                            </div>

                        </div>
                    </div>
                    <p style="font-family:Bio Sans;font-size: 18px;color:#333333;margin-top: 10px" v-if="qrArr.length>0">{{qrIndex}}/{{qrArr.length}}</p>
                    <p style="font-family:Bio Sans;font-size: 18px;color:#333333;margin-top: 5px" v-if="qrArr.length>0">{{curLangule["key9"]}}</p>
                </div>
                <p style="font-family:Bio Sans;font-size: 18px;color: #31AEFF;;margin-top: -30px;text-decoration: underline;cursor: pointer;text-align: center" @click="down()" v-if="downQr">{{curLangule["key10"]}}</p>
            </div>

        </div>

    </div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            zh: {
                title: 'ELA联合钱包',
                key: "输入ELA接收地址",
                key1: "输入金额",
                key2: "输入备注（备注会上链）",
                key3: '矿工费: ',
                key4: '余额',
                key5: '发送到',
                key6: '数量',
                key7: '备注',
                key8: '发送',
                key9: '打开大象App扫描',
                key10: '下载 json 文件',
                error5: '请输入ELA接收地址',
                error6: '请输入ELA金额',
                error7: '请输入正确的金额',
                error8: '余额不足',
                error9: '地址不合法',
                error10: 'Memo 不能超过250字符',
            },
            en: {
                title: 'ELA Joint Account',
                key: "Please enter ELA receive address",
                key1: "Input your amount",
                key2: "Input your memo（Memo will be recorded on the blockchain）",
                key3: 'Miner Fee: ',
                key4: 'Balance',
                key5: 'Send to',
                key6: 'Amount',
                key7: 'Memo',
                key8: 'Send',
                key9: 'Open Elephant App to scan',
                key10: 'Download file.json',
                error5: 'Please enter ELA receive address',
                error6: 'Please enter the amount of ELA',
                error7: 'Wrong Amount',
                error8: 'The balance is not enough',
                error9: 'Illegal address',
                error10: "Memo can't be more than 250 characters",
            },
            curLangule: {},
            walletList: {},
            schemeConfig: {
                "AppID": "19c93e0fad72df85ac9112361ac024caed27607fd4b4ff0f95474068801f6c494698b93add96d89001a50c4f7621035913e4c4ca6196ef028e7bf138791e623f",
                "AppName": encodeURIComponent("JointAccount"),
                "DID": "ibxNTG1hBPK1rZuoc8fMy4eFQ96UYDAQ4J",
                "PublicKey": "034c51ddc0844ff11397cc773a5b7d94d5eed05e7006fb229cf965b47f19d27c55",
                "Tx": "",
                "ReturnUrl": "",
            },
            balance: {
                'num': 0
            },
            address: "",
            toastText: "",
            toastShow: false,
            //elaAdress: "EYf3wvaiNHWvrEXL1bwSV5LytbhiPb6Vby",
            elaAdress: "",
            amount: "",
            memo: "",
            sela: 100000000,
            isQrcode: false,
            qrArr: [],
            qrIndex: 1,
            downQr: "",
            fee: {
                'num': ''
            },
            isShow: false
        },
        methods: {
            getFee() {
                return new Promise((resovle, reject) => {
                    $.ajax({
                        url: 'https://node1.elaphant.app/api/1/fee',
                        dataType: 'json',
                        contentType: 'application/json',
                        type: 'GET',
                        success: function(data) { //成功回调函数
                            resovle(data);
                        },
                        error: function(err) { //失败回调函数
                            reject(err);
                        }
                    });
                });
            },
            down() {
                var filename = "tx" + new Date().getTime() + ".elasign";
                this.downJson(this.downQr, filename);
            },
            downJson(content, filename) {
                // 创建隐藏的可下载链接
                var eleLink = document.createElement('a');
                eleLink.download = filename;
                eleLink.style.display = 'none';
                // 字符内容转变成blob地址
                var blob = new Blob([content]);
                eleLink.href = URL.createObjectURL(blob);
                // 触发点击
                document.body.appendChild(eleLink);
                eleLink.click();
                // 然后移除
                document.body.removeChild(eleLink);
            },
            fixedLengthFormatString(str, num) {
                var hash = md5.create();
                hash.update(str);
                var md5s = hash.hex();
                if (str == null || str == undefined) return null;
                if (!(/^[0-9]*[1-9][0-9]*$/.test(num))) return null;
                var array = new Array();
                let len = str.length;
                for (var i = 0; i < (len / num); i++) {
                    if ((i + 1) * num > len) {
                        let totalNum = parseInt((len / num).toString());
                        let curNum = i;
                        array.push({
                            "name": 'MultiQrContent',
                            "total": totalNum + 1,
                            "index": curNum,
                            "data": str.substring(i * num, (i + 1) * num),
                            "md5": md5s
                        });
                    } else {
                        let totalNum = parseInt((len / num).toString());
                        let curNum = i;
                        array.push({
                            "name": 'MultiQrContent',
                            "total": totalNum + 1,
                            "index": curNum,
                            "data": str.substring(i * num, (i + 1) * num),
                            "md5": md5s
                        });
                    }
                }
                return array;
            },
            getUrl() {
                //获取主机地址
                var localhostPaht = window.location.protocol + "//" + window.location.host;
                return localhostPaht;
            },
            getLen2(str) {　　　　 //将中文替换成两个英文字符来统计
                return str.replace(/[^\x00-\xff]/g, "aa").length;
            },
            getTx() {
                var parms = {
                    inputs: [this.address],
                    outputs: [{
                        addr: this.elaAdress,
                        amt: this.accMul(this.amount, this.sela)
                    }]
                }
                return new Promise((resovle, reject) => {
                    $.ajax({
                        url: 'https://node1.elaphant.app/api/1/createTx',
                        dataType: 'json',
                        contentType: 'application/json',
                        type: 'POST',
                        data: JSON.stringify(parms),
                        success: function(data) { //成功回调函数
                            resovle(data);
                        },
                        error: function(err) { //失败回调函数
                            reject(err);
                        }
                    });


                })
            },
            isAddressValid(address) {
                var r = false;
                if (address.length != 34) {
                    return r
                }

                r = (address[0] == 'E' || address[0] == 'i' ||
                    address[0] == '8' || address[0] == 'X' || address[0] == 'D')

                if (r == false && address === "1111111111111111111114oLvT2") {
                    r = true;
                }

                return r;
            },
            accMul(arg1, arg2) {
                var m = 0,
                    s1 = arg1.toString(),
                    s2 = arg2.toString();
                try {
                    m += s1.split(".")[1].length;
                } catch (e) {}
                try {
                    m += s2.split(".")[1].length;
                } catch (e) {}
                return Number(s1.replace(".", "")) * Number(s2.replace(".", "")) / Math.pow(10, m);
            },
            number(text) {
                var numPattern = /^(([1-9]\d*)|\d)(\.\d{1,9})?$/;
                return numPattern.test(text);
            },
            buildMultiTx(tx) {

                var first = tx.Transactions[0];
                tx.Transactions = [];
                tx.Transactions.push(first);

                if (this.memo != "") {
                    var msg = "type:text,msg:";
                    tx.Transactions[0].Memo = msg + this.memo;
                }

                var txJson = JSON.stringify(tx);
                this.schemeConfig['Tx'] = txJson;

                var baseUrl = this.getUrl();
                this.schemeConfig['ReturnUrl'] = baseUrl + '/walletDetails.html?' + 'address=' + this.address;
                var url = "elaphant://multitx?";
                var that = this;
                _.forEach(this.schemeConfig, function(val, key, index) {
                    if (key === 'ReturnUrl') {
                        val = encodeURIComponent(val);
                    } else if (key === 'Tx') {
                        val = encodeURIComponent(val);
                    }
                    if (key === 'ReturnUrl') {
                        url += key + '=' + val;
                    } else {
                        url += key + '=' + val + '&';
                    }
                });
                return url;
            },
            send() {
                if (this.checkParm() && !this.isShow) {
                    this.isShow = true;
                    var v = this;
                    this.getTx().then((data) => {

                        if (data.status === 200) {

                            var url = v.buildMultiTx(data.result);
                            this.downQr = url;
                            var qr = this.fixedLengthFormatString(url, 1000);
                            this.qrArr = qr;
                            //this.qrArr.push(qr);
                            this.isQrcode = true;
                            this.isShow = false;
                        } else if (data.status === 400) {
                            this.isShow = false;
                            if (data.result === "Not Enough UTXO") {
                                this.toast(this.curLangule['error8']);
                            }
                        }
                    }).catch((err => {
                        this.isShow = false;
                    }));
                }
            },
            checkParm() {
                if (this.elaAdress === "") {
                    this.toast(this.curLangule['error5'])
                    return false;
                }
                var isOK = !this.isAddressValid(this.elaAdress);
                if (isOK) {
                    this.toast(this.curLangule['error9'])
                    return false;
                }
                if (this.amount === "") {
                    this.toast(this.curLangule['error6'])
                    return false;
                }

                if (!this.number(this.amount)) {
                    this.toast(this.curLangule['error7'])
                    return false;
                }

                if (this.amount <= 0) {
                    this.toast(this.curLangule['error7'])
                    return false;
                }

                if (parseFloat(this.amount) > parseFloat(this.balance['num'])) {
                    this.toast(this.curLangule['error8']);
                    return;
                }

                if (this.amount.toString().indexOf(".") > -1 && this.amount.toString().split(".")[1].length > 8) {
                    this.toast(this.curLangule['error7'])
                    return false;
                }

                if (this.getLen2(this.memo) >= 250) {
                    this.toast(this.curLangule['error10'])
                    return false;
                }

                return true;
            },
            getBalance(address) {
                return new Promise((resovle, reject) => {
                    $.ajax({
                        url: 'https://node1.elaphant.app/api/1/balance/' + address,
                        dataType: 'json',
                        contentType: 'application/json',
                        type: 'GET',
                        success: function(data) { //成功回调函数
                            resovle(data);
                        },
                        error: function(err) { //失败回调函数
                            reject(err);
                        }
                    });
                })
            },
            doCopy() {
                var v = this;
                this.$copyText(this.qrcode).then(function(e) {
                    v.toast(v.curLangule['key29']);
                }, function(e) {})
            },
            toast(str) {
                var v = this;
                v.toastText = str
                v.toastShow = true
                setTimeout(function() {
                    v.toastShow = false
                }, 1500)
            },
            getUrlParam: function(name) {
                //正则表达式过滤
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
                //正则规则
                var r = window.location.search.substr(1).match(reg);

                if (r != null) return decodeURI(r[2]);
                return null;
            },
            back() {
                location.href = "./index.html";
            },
            getLanugle: function() {
                this.curLangule = this.en;
                this.curLanguleKey = 'en';
                var JsSrc = (navigator.language || navigator.browserLanguage).toLowerCase();
                if (JsSrc.indexOf('zh') >= 0) {
                    // 假如浏览器语言是中文
                    this.curLanguleKey = 'zh';
                    this.curLangule = this.zh;
                } else if (JsSrc.indexOf('en') >= 0) {
                    this.curLangule = this.en;
                    this.curLanguleKey = 'en';
                } else {
                    // 假如浏览器语言是其它语言
                    this.curLangule = this.en;
                    this.curLanguleKey = 'en';
                }
            },
            accDiv(arg1, arg2) {
                var t1 = 0,
                    t2 = 0,
                    r1, r2;
                try {
                    t1 = arg1.toString().split(".")[1].length
                } catch (e) {}
                try {
                    t2 = arg2.toString().split(".")[1].length
                } catch (e) {}
                with(Math) {
                    r1 = Number(arg1.toString().replace(".", ""))
                    r2 = Number(arg2.toString().replace(".", ""))
                    return (r1 / r2) * pow(10, t2 - t1);
                }
            }
        },
        create() {

        },
        mounted() {
            var that = this;
            $('#myCarousel').on('slide.bs.carousel', function(event) {
                var $hoder = $('#myCarousel').find('.item'),
                    $items = $(event.relatedTarget);
                //getIndex就是轮播到当前位置的索引
                var getIndex = $hoder.index($items);
                if (getIndex > -1) {
                    that.qrIndex = getIndex + 1;
                }
            });
            this.getLanugle();
            document.title = this.curLangule["title"];
            this.address = this.getUrlParam("address");
            //this.address = '8XAqZYqyVcmHL6kuVGMdv755FJF26GggYv';
            this.getBalance(this.address).then((res) => {
                if (res.status === 200) {
                    this.$set(this.balance, 'num', res.result);
                } else {
                    this.$set(this.balance, 'num', 0);
                }
            });

            this.getFee().then((res) => {
                if (res.status === 200) {
                    let num = this.accDiv(res.result, this.sela);
                    this.$set(this.fee, 'num', num);
                }
            }).catch(() => {

            });
        }
    });
</script>

</html>